/* Copied From ~/git/dotzshrc/stylesheets/userContent.css via install.rb */
/* A custom stylesheet for Firefox. */



/* Sometimes I write poetry, and I don't like it rendering as typewriter font
.poem { font-family: fantasy; }


/* Adding color to direct status messages */
.skin-default #mastodon .status.status-direct, .skin-default #mastodon .detailed-status.detailed-status-direct {
    background: #330000 !important;
}

/* With a code of green, which I like, Mastodon's default skin is
   rather hard to see contrast.  This helps a lot. */
.skin-default #mastodon code {
        background: #dddddd;
}

.skin-mastodon-light #mastodon .status.status-direct, .skin-mastodon-light #mastodon .detailed-status.detailed-status-direct {
    background: #f2b0a2 !important;
}

cite {
    font-weight: 500;
}
